# 동전 0

* 15단계 그리디 알고리즘 - 1단계
* 동전의 조건이 특별해서 동적 프로그래밍보다 빠르게 답을 찾을 수 있는 문제

## 문제

준규가 가지고 있는 동전은 총 N종류이고, 각각의 동전을 매우 많이 가지고 있다.
<br/><br/>
동전을 적절히 사용해서 그 가치의 합을 K로 만들려고 한다. 이때 필요한 동전 개수의 최솟값을 구하는 프로그램을 작성하시오.

## 입력

첫째 줄에 N과 K가 주어진다. (1 ≤ N ≤ 10, 1 ≤ K ≤ 100,000,000)
<br/><br/>
둘째 줄부터 N개의 줄에 동전의 가치 $A_{i}$가 오름차순으로 주어진다. (1 ≤ $A_{i}$ ≤ 1,000,000,  $A_{1}$ = 1, i ≥ 2인 경우에  $A_{i}$는  $A_{i-1}$의 배수)

## 출력

첫째 줄에 K원을 만드는데 필요한 동전 개수의 최솟값을 출력한다.

### 예제 입력 1

10 4200<br/>
1<br/>
5<br/>
10<br/>
50<br/>
100<br/>
500<br/>
1000<br/>
5000<br/>
10000<br/>
50000

### 예제 출력 1

6

### 예제 입력 2

10 4790<br/>
1<br/>
5<br/>
10<br/>
50<br/>
100<br/>
500<br/>
1000<br/>
5000<br/>
10000<br/>
50000

### 예제 출력 2

12

## 제출 코드

In [ ]:
n, k = map(int, input().split())
coins = []
cnt = 0
for _ in range(n):
    coins.append(int(input()))

coins.sort(reverse=True)

for i in coins:
    if i <= k:
        cnt += (k // i)
        k %= i
    if k == 0:
        break

print(cnt)

10 4200
1
5
10
50
100
500
1000
5000
10000
50000
6

In [ ]:
# 10 4200
# 1
# 5
# 10
# 50
# 100
# 500
# 1000
# 5000
# 10000
# 50000