# 쉬운 계단 수

* 15단계 동적 계획법1 9단계 쉬운 계단 수

> 동적 계획법을 이용해 계단 수를 구하는 문제

## 문제

45656이란 수를 보자.

이 수는 인접한 모든 자리의 차이가 1이다. 이런 수를 계단 수라고 한다.

N이 주어질 때, 길이가 N인 계단 수가 총 몇 개 있는지 구해보자. 0으로 시작하는 수는 계단수가 아니다.

## 입력

첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 100보다 작거나 같은 자연수이다.

## 출력

첫째 줄에 정답을 1,000,000,000으로 나눈 나머지를 출력한다.

### 예제 입력 1 

1

### 예제 출력 1

9

### 예제 입력 2

2

### 예제 출력 2

17

## 코드

[참고](https://pacific-ocean.tistory.com/151)

In [6]:
C = 10**9
N = int(input())
dp = [[0]*10 for _ in range(N+1)]

for i in range(1, 10):
    dp[1][i] = 1

for i in range(2, N+1):
    for j in range(10):
        if j == 0: dp[i][j] = dp[i-1][1] # 끝자리 수가 0일 때의 경우의 수
        elif j == 9: dp[i][j] = dp[i-1][8] # 끝자리 수가 9일 때의 경우의 수
        else: dp[i][j] = dp[i-1][j-1] + dp[i-1][j+1] # 끝자리 수가 1 ~ 8일 때의 경우의 수
        
print(sum(dp[N]) % C)

10
2986

In [7]:
dp

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 2, 2, 2, 2, 2, 2, 2, 1],
 [1, 3, 3, 4, 4, 4, 4, 4, 3, 2],
 [3, 4, 7, 7, 8, 8, 8, 7, 6, 3],
 [4, 10, 11, 15, 15, 16, 15, 14, 10, 6],
 [10, 15, 25, 26, 31, 30, 30, 25, 20, 10],
 [15, 35, 41, 56, 56, 61, 55, 50, 35, 20],
 [35, 56, 91, 97, 117, 111, 111, 90, 70, 35],
 [56, 126, 153, 208, 208, 228, 201, 181, 125, 70],
 [126, 209, 334, 361, 436, 409, 409, 326, 251, 125]]