# 정수 삼각형

* 15단계 동적 계획법1 6단계 정수 삼각형

> 각 층의 모든 칸마다 최댓값을 저장하면서 동적 계획법으로 푸는 문제

## 문제

```
        7
      3   8
    8   1   0
  2   7   4   4
4   5   2   6   5
```

위 그림은 크기가 5인 정수 삼각형의 한 모습이다.
<br/><br/>
맨 위층 7부터 시작해서 아래에 있는 수 중 하나를 선택하여 아래층으로 내려올 때, 이제까지 선택된 수의 합이 최대가 되는 경로를 구하는 프로그램을 작성하라. 아래층에 있는 수는 현재 층에서 선택된 수의 대각선 왼쪽 또는 대각선 오른쪽에 있는 것 중에서만 선택할 수 있다.
<br/><br/>
삼각형의 크기는 1 이상 500 이하이다. 삼각형을 이루고 있는 각 수는 모두 정수이며, 범위는 0 이상 9999 이하이다.

## 입력

첫째 줄에 삼각형의 크기 n(1 ≤ n ≤ 500)이 주어지고, 둘째 줄부터 n+1번째 줄까지 정수 삼각형이 주어진다.

## 출력

첫째 줄에 합이 최대가 되는 경로에 있는 수의 합을 출력한다.

### 예제 입력 1 

5<br/>
7<br/>
3 8<br/>
8 1 0<br/>
2 7 4 4<br/>
4 5 2 6 5

### 예제 출력 1
30

## 코드

In [13]:
n = int(input())
g = []
for _ in range(n):
    g.append(list(map(int, input().split())))

k = 2

for i in range(1, n):
    for j in range(k):
        if j == 0:
            g[i][j] += g[i - 1][j]
        elif i == j:
            g[i][j] += g[i - 1][j - 1]
        else:
            g[i][j] += max(g[i - 1][j - 1], g[i - 1][j])
    print("k: ", k, g[i])
    k += 1

print(max(g[n - 1]))

5
7
3 8
8 1 0
2 7 4 4
4 5 2 6 5
k:  2 [10, 15]
k:  3 [18, 16, 15]
k:  4 [20, 25, 20, 19]
k:  5 [24, 30, 27, 26, 24]
30